@import '../iconfont/iconfont.css';

.editor {
  width: 100%;
  height: 100%;

  &-left,
  &-right {
    position: absolute;
    width: 270px;
    top: 0;
    bottom: 0;
  }

  &-left {
    left: 0;
    overflow: auto;

    &-item {
      width: 250px;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      padding: 20px;
      box-sizing: border-box;
      cursor: move;
      user-select: none;
      min-height: 100px;
      position: relative;

      > span {
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(96, 205, 224);
        color: #fff;
        padding: 4px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #ccc;
        opacity: 0.2;
      }
    }
  }

  &-right {
    right: 0;
    overflow: auto;
    &-title {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 18px;
      }
    }
  }

  &-top {
    position: absolute;
    right: 265px;
    left: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-button {
      width: 60px;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.3);
      user-select: none;
      cursor: pointer;
      color: #fff;
      background-color: rgb(21 48 79 / 50%);
      border-radius: 4px;
      & + & {
        margin-left: 3px;
      }
    }
  }

  &-container {
    padding: 80px 270px 0;
    height: 100%;
    box-sizing: border-box;

    &-canvas {
      overflow: scroll;
      height: 100%;

      &__content {
        margin: 20px auto;
        // hcx：去掉了原本的背景，改为给画布增加边框
        border: 1px solid #ccc;
        position: relative;
      }
    }
  }
}

.editor-block {
  position: absolute;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.editor-block-focus {
  &::after {
    border: 3px dashed red;
  }
}

.editor-block-preview {
  &::after {
    display: none;
  }
}

// 移动left值
.line-x {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px dashed red;
}

// 移动的是top 值
.line-y {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px dashed red;
}

// dropdown

.dropdown {
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 2px 2px #ccc;
}

.dropdown-isShow {
  display: block;
}

.dropdown-item {
  line-height: 30px;
  width: 100px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.range {
  font-size: 18px;
  display: inline-flex;
  width: 220px;
  min-height: 30px;
  align-items: center;
  .el-input {
    font-size: 12px;
  }

  input {
    flex: 1;
    width: 100%;
  }

  span {
    margin: 0 4px;
    display: inline-flex;
  }
}

.block-resize {
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgb(15, 65, 204);
  z-index: 1000;
  user-select: none;
}

.block-resize-top {
  top: -4px;
  left: calc(50% - 4px);
}

.block-resize-bottom {
  bottom: -4px;
  left: calc(50% - 4px);
}

.block-resize-left {
  top: calc(50% - 4px);
  left: -4px;
}

.block-resize-right {
  top: calc(50% - 4px);
  right: -4px;
}
.block-resize-top-left {
  top: -4px;
  left: -4px;
}
.block-resize-top-right {
  top: -4px;
  right: -4px;
}
.block-resize-bottom-left {
  bottom: -4px;
  left: -4px;
}
.block-resize-bottom-right {
  bottom: -4px;
  right: -4px;
}

.el-button,
.el-input {
  transition: none;
}

// 分割线的默认大小
.divider {
  width: 550px;
}

// 图片默认大小
.uploadImg {
  width: 200px;
  height: 200px;
  img {
    width: 100%;
    height: 100%;
  }
}
